<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ingrese su correo para recibir el link de actualizacion </title>

</head>
<body>
  <h1>Email:</h1>
  
  <form id="form">
    
    
    <input type="email" id="Email" name="email" required>
    <br>
    <button type="submit" value="Enviar" style="width: 80px; height: 20px;">
  </form>
  <script src="/js/changepass.js"></script>
</body>
</html>
