   
   
   
   
    <form  id="formDelate">
        <h2>Elimina el producto</h2>
        <h3>ID DEL PRODUCTO A BORRAR</h3>
        <input type="numer" id="IDdelete">
        <br>
        <button type="submit">ELIMINAR</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/delete.js"></script>
    
