<div>
    <h1>Agrega tu nuevo producto, maldito</h1>

    <form id="formulario">

        <h3>Titulo</h3>
<input type="text" id="title" name="title">
<h3>Descripcion</h3>
<input type="text" id="description" name="description">
<h3>Precio</h3>
<input type="number" id="price" name="price">
<h3>Imagen (ruta)</h3>
<input type="text" id="img" name="thumbnail">
<h3>Codigo</h3>
<input type="text" id="code" name="code">
<h3>Stock</h3>
<input type="number" id="stock" name="stock">
<h3>status (true)</h3>
<input type="text" id="status" name="status">


        <button type="submit">Agregar producto</button>
    </form>




</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>



{{!-- <script>// let socket = io()</script> --}}




