<div style="display:flex; flex-direction:column; justify-content:center; align-items:center; height:100vh;">
    <div style="background-color:#f1f1f1; padding:20px; border-radius:10px; box-shadow: 0px 0px 10px 5px #e5e5e5;">
        <h1 style="text-align:center;">Login</h1>
        <form id="loginForm" style="display:flex; flex-direction:column;">
            <label style="margin-bottom:10px;">Email</label>
            <input name="email" style="padding:5px; margin-bottom:20px; border-radius:5px; border:none; box-shadow: 0px 0px 5px 0px #e5e5e5;">

            <label style="margin-bottom:10px;">Contraseña</label>
            <input name="password" type="password" style="padding:5px; margin-bottom:20px; border-radius:5px; border:none; box-shadow: 0px 0px 5px 0px #e5e5e5;">

            <input type="submit" value="Ingresar" style="padding:5px 10px; border:none; border-radius:5px; background-color:#4CAF50; color:white; cursor:pointer;">
        </form>
        <p style="text-align:center; margin-top:20px;">¿No estás registrado? <a href="/users/register" style="color:#4CAF50;">Regístrate aquí</a></p>
    </div>
</div>

<script src="/js/login.js"></script>
