
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <form id="registerForm" style="border: 1px solid #ccc; padding: 20px; border-radius: 10px;">
    <h1 style="text-align: center; margin-bottom: 20px;">Registro</h1>
    <div style="display: flex; flex-direction: column;">
      <label style="margin-bottom: 10px;">Nombre</label>
      <input name="first_name" style="margin-bottom: 20px; padding: 5px;">
      <label style="margin-bottom: 10px;">Apellido</label>
      <input name="last_name" style="margin-bottom: 20px; padding: 5px;">
      <label style="margin-bottom: 10px;">Email</label>
      <input name="email" style="margin-bottom: 20px; padding: 5px;">
      <label style="margin-bottom: 10px;">Edad</label>
      <input name="age" style="margin-bottom: 20px; padding: 5px;">
      <label style="margin-bottom: 10px;">Contraseña</label>
      <input name="password" style="margin-bottom: 20px; padding: 5px;">
      <button type="submit" style="padding: 10px; border: none; border-radius: 5px; background-color: #4CAF50; color: white;">Registrarse</button>
    </div>
  </form>
  <p style="text-align: center; margin-top: 20px;">¿Ya tienes una cuenta? <a href="/users/login">Ingresa aquí</a></p>
</div>

<script src="/js/register.js"></script>